/* YOUR CUSTOM STYLES */
@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);
@font-face {
    font-family: 'penna';
    src: url('../font/penna.otf');
}
@font-face {
    font-family: 'aileron';
    src: url('../font/Aileron-Thin.otf');
}

body {
    background-color: dimgray;
    color: dimgray;
    /*font-family: 'aileron', 'Noto Sans JP', sans-serif;*/
    font-size: 100%;
}

.golden-spiral {
    width: auto;
    position: fixed;
}

.golden-section {
    position: absolute;
    left: -100%;
    box-sizing: border-box;
    transition-property: border, border-radius;
    transition-duration: .2s;
    transition-timing-function: ease-out;
    border: 2px solid dimgray;
    background-size: 200%;
    overflow: hidden;
}

.golden-section-circle {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 100% 0 0 0 / 100% 0 0 0;
    overflow: hidden;
    /*background-color: #c6b29a;*/
}

.golden-section:hover {
    border-radius: 5%;
    border: 2px solid dimgray;
}

.active {
    border: 2px solid dimgray;
}

.active:hover {
    border-radius: 0%;
    border: 2px solid dimgray;
}

.launch-image {
    position: absolute;
    left: 65%;
    top: 20%;
    height: 45%;
}

li {
    /*display: inline;*/
    padding: 5px;
    text-align: left;
    list-style: none;
}

a.fa {
    padding: 20px;
    font-size: 30px;
    width: 70px;
    height: 70px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    color: white;
}

.canvas3D {
    position: absolute;
    /*background-color: #FFFFFF;*/
    width: 100%;
    height: 100%;
    /*z-index: -1;*/
}

.section-myname {
    font-family: "aileron", "筑紫A丸ゴシック レギュラー", "游明朝" , "Yu Mincho" , "游明朝体" , "YuMincho" , "ヒラギノ明朝 Pro W3" , "Hiragino Mincho Pro" , "HiraMinProN-W3" , "HGS明朝E" , "ＭＳ Ｐ明朝" , "MS PMincho" , serif;
    color: black;
    position: absolute;
    writing-mode:   vertical-lr;
    /*padding-left: 33%;*/
    top: 20vh;
    right: 0;
    /*text-align: left;*/
    font-size: 6vmax;
}

.section-title {
    position: absolute;
    font-family: "penna";
    /*font-size: 4vmax;*/
    color: white;
}

.section-sub-title {
    font-family: "penna";
    font-size: 8vmin;
    color: #bf2932;
}

.section-footer {
    position: absolute;
    font-family: "aileron";
    font-size: 1vmax;
    left: 3vh;
    bottom: 3vh;
}

.section-container1 {
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 30% 70%;
    grid-template-columns: 40% 20% 40%;
    grid-template-areas:
            "l-t c-tb r-t"
            "l-b c-tb r-b";
}

.section-container2 {
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 25% 45% 30%;
    grid-template-columns: 45% 55%;
    grid-template-areas:
            "l-t r-t"
            "l-c r-cb"
            "l-b r-cb";
}

.l-t {
    grid-area: l-t;
    position: relative;
}

.l-c {
    grid-area: l-c;
    position: relative;
}

.c-c {
    grid-area: c-c;
    position: relative;
}

.r-c {
    grid-area: r-c;
    position: relative;
}

.l-b {
    grid-area: l-b;
    position: relative;
}

.c-tb {
    grid-area: c-tb;
    position: relative;
}

.c-t {
    grid-area: c-t;
    position: relative;
}

.c-b {
    grid-area: c-b;
    position: relative;
}

.r-t {
    grid-area: r-t;
    position: relative;
}

.r-b {
    grid-area: r-b;
    position: relative;
}

.r-tb {
    grid-area: r-tb;
    position: relative;
}

.r-cb {
    grid-area: r-cb;
    position: relative;
}

.background {
    position: absolute;
    padding: 10vw;
    right: 10vw;
    height: 100vh;
}

